{% extends "base.html" %}

{% block title %}LSBMorph - Help{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="{{ url_for('help', category='examples') }}" 
               class="list-group-item list-group-item-action {% if category == 'examples' %}active{% endif %}">
                Classification Examples
            </a>
        </div>
    </div>
    
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h4>
                {% if category == 'examples' %}
                    Classification Examples
                {% elif category == 'general' %}
                    How to Use This Tool
                {% endif %}
                </h4>
            </div>
            <div class="card-body">
                {% if category == 'examples' %}
                    <div class="row">
                        {% for example in example_images %}
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <img src="{{ url_for('static', filename='images/examples/' + example) }}" 
                                     class="card-img-top" alt="Example image">
                                <div class="card-body">
                                    <h5 class="card-title">Example: {{ example }}</h5>
                                    <p class="card-text">{{ example_descriptions.get(example, 'No description available') }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
